body{
    color: rgb(250, 86, 26);
    width: 100%;
    height: 100%;
    font-family: 'Nanum Gothic', sans-serif;
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

#allWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 900px;
    background-color: rgba(252, 252, 242, 0.5);
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    #quizWrapper{
        width: 700px;
    }
    ul{
        list-style: none;
        padding: 0px;
    }
    .mainBtn{
        width: 100%;
        height: 50px;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        color: grey;
        background-color:#eeeeee;
        margin: 5px;
    }
    .content{
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: left;
        padding-left: 50px;
        input{
            border: 0.5px solid #cccccc;
            border-radius: 5px;
            display: inline-block;
            width: 300px;
            height: 30px;
            padding-left: 20px; 
        }
        span{
            margin-right: 25px;
        }
        .submit{
            border: 0px;
            size: 20px;
            font-weight: 500;
            letter-spacing: 2px;
            font-family: inherit;
            height: 40px;
            display: block;
            width: 200px;
            padding: 0px;
            margin-top: 10px;
            position: relative;
            left : 190px;
            color: black;
        }
        .greenBtn{
            background-image: -webkit-gradient(linear, left top, left bottom, from(#bce0b4), to(#5cf585)) !important;
            background-image: linear-gradient(to bottom, #bce0b4, #5cf585) !important;
        }
        .redBtn{
            background-image: -webkit-gradient(linear, left top, left bottom, from(#f7706e), to(#ff2123)) !important;
            background-image: linear-gradient(to bottom, #f7706e, #ff2123) !important;
        }
        #optionBtnWrapper{
            display: flex;
            input{
                width: 95px !important;
            }
            #continueBtn{
                margin-right: 10px;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#9db4ff), to(#5d7bff)) !important;
                background-image: linear-gradient(to bottom, #9db4ff, #5d7bff) !important;
            }
            #stopBtn{
                background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9c9a), to(#ff7679)) !important;
                background-image: linear-gradient(to bottom, #ff9c9a, #ff7679) !important;
            }
        }
        ul{
            li{
                margin: 5px;
                input{
                    margin-left:-7px;
                }
            }
        }
        .answers{
            margin-left: 20px;
        }
        #con-3Wrapper{
            display: flex;
            flex-direction: row;
            .icon_wrapper{
                width: 10%;
                align-self: center;
                .material-icons{
                    font-size: 40px !important;
                    cursor: pointer;
                    color: #f18158;
                }
                .material-icons:hover{
                    color: #ebe379;
                    font-size: 50px !important;
                }
            }
            #quizUlWrapper{
                width: 80%;
            }

        }
    }
    .displayNone{
        display : none !important;
    }
    .activeBtn{
        color: #333;
        background-color: #FFED90;
        
    }
    input[type="button"]{
        cursor: pointer;
    }
    input:hover{
        border: 1px solid #FAE960;
    }

}